html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}


.inputDeep .el-input--medium .el-input__inner {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

input::-webkit-input-placeholder {
    color: rgba(101, 100, 113, 0.5) !important;
}


input:focus::-webkit-input-placeholder {
    color: transparent !important;
}

/* 表内样式 */
.MedusaTable .el-table {
    --el-table-header-bg-color: rgba(0, 0, 0, .05);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}

/* 表头样式 */
.MedusaTable .el-table thead {
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    letter-spacing: 8px;
}

/* 无数据时的样式 */
.MedusaTable .el-table__empty-text {
    color: rgba(255, 255, 255, .7);
}

:root {
    --el-fill-color-lighter: ;
}