.commodityClassificationTree {
    position: relative;
    top: 20px;
    height: 870px;
}


.commodityClassificationTree .el-tree {
    --el-tree-node-hover-bg-color: rgba(255, 255, 255, .1)
}

.commodityClassificationTree h3 {
    background-color: rgba(0, 0, 0, .05);
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color: rgba(0, 0, 0, .7);
    margin-top: 0;
}

.treeLeft {
    color: rgba(255, 255, 255, .9);
    font-size: 16px;
}

.treeRow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
}

.el-tree-node__content {
    height: 35px;
}

.addCommodityClassificationBtn {
    margin-right: 10px;
}